<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Login page - 毅强TODO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responsive HTML template for Your company">
    <meta name="author" content="Oskar Żabik (oskar.zabik@gmail.com)">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/typica-login.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le favicon -->

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">

      </div>
    </div>

    <div class="container">

        <div id="login-wraper">
            <form class="form-horizontal" method="post" action="">
            {{form.hidden_tag()}}
                <legend>登录到 <span class="blue">毅强TODO</span></legend>
            
                <div class="form-group">
                    <label class="col-sm-3 control-label">用户名</label>
                    <div class="col-sm-9">
                    {{form.username(class="form-control",placeholder="请输入用户名")}}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">密&nbsp;&nbsp;&nbsp;码</label>
                    <div class="col-sm-9">
                    {{form.userpass(class="form-control",placeholder="请输入密码")}}
                    </div>
                </div>
                    
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}        
                    <span>{{ message }} </span>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}          

                <div class="checkbox">
                    <label class='col-sm-4 col-sm-offset-1'>
                        {{form.remeber_me}}记住登录
                    </label>
                    <button type="submit" class="btn btn-success">登录</button>
                </div>
                    
            </form>
        </div>

    </div>




    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/backstretch.min.js"></script>


  </body>

</html>
