{%extends '/Dash/base.html'%}

{%block home%}
<div class="content">    
<div class="row">
    <div class="col-sm-12">
        <h2 style="margin-bottom: -1em;">事件列表</h2>
        <table class="table table-hover table-first-column-number data-table display full ">
          <thead>
            <tr>
              <th style="width: 40%">任务<span class="sort-icon"><span></th>
              <th style="width: 9%">属于产品<span class="sort-icon"><span></th>
              <th style="width: 15%">期望开始时间<span class="sort-icon"><span></th>
              <th style="width: 15%">期望结束时间<span class="sort-icon"><span></th>
              <th style="width: 8%">处理人<span class="sort-icon"><span></th>
              <th style="width: 15%">操作<span class="sort-icon"><span></th>
            </tr>
          </thead>
          <tbody>
            {% for entry in entries%}
            <tr>
              <td><a href="{{url_for('event',event_id=entry.id)}}">{{entry.title}}</a></td>
              <td>{{entry.Product.product_name}}</td>
              <td>{{entry.todo_begin}}</td>
              <td>{{entry.todo_end}}</td>
              <td>{{entry.do_user.nickname}}</td>
              <td><a href="{{url_for('event',event_id=entry.id)}}" class="btn btn-link btn-mini"> 查看</a><a href="{{url_for('delete',event_id=entry.id)}}" class="btn btn-link btn-mini"> 删除</a></td>
            </tr>
            {%endfor%}
        </table>
    </div>
</div>
{%endblock%}